.containerDetails {
  @apply relative flex items-end overflow-hidden select-none h-screen;

  img {
    @apply w-full object-cover h-screen absolute -z-10;
    filter: grayscale(70%);
  }

  .boxDetails {
    @apply flex flex-col bg-zinc-900 bg-opacity-40 w-full md:py-7 md:pl-12 text-center md:text-left py-5;

    .titleDetail {
      @apply text-3xl text-white font-bold;
    }


    .subtitle {
      @apply text-base text-white;
    }

    .titleGenero {
      @apply text-base font-bold text-white;
    }

    .caption {
      @apply md:flex justify-around lg:items-center flex-col-reverse lg:flex-row md:mt-4 lg:mt-12 hidden;
    }

    ul {
      li {
        @apply flex items-center font-bold text-white;
      }
    }

    p {
      @apply font-bold text-white md:py-4;
      max-width: 700px;
    }

    .boxButton {
      @apply items-center rounded-xl p-2 border hover:bg-zinc-900 ease-in-out duration-300 font-bold text-white hidden md:flex;
      font-family: Nunito;
      max-width: 85px;

      .iconTrailer {
        @apply fill-white;
      }
    }
  }
}

.captionMobile {
  @apply md:hidden mx-9 mt-5;
  

  .boxButtonMobile {
    @apply flex flex-row items-center rounded-xl p-2 border hover:bg-zinc-900 ease-in-out duration-300 font-bold mb-5;
    font-family: Nunito;
  }

  ul {
    li {
      font-family: Nunito;
    }
  }
  .titleGeneroMobile {
    @apply font-bold text-lg pb-4;
    font-family: Nunito;
  }

  p {
    @apply py-4 max-w-md;
    font-family: Nunito;
  }
}
