@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Space+Mono&display=swap');
@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Mono", $default-font;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}