.section {
  @apply flex items-start justify-end my-12 flex-col lg:flex-row;
  background: rgb(196, 195, 198);
  background: linear-gradient(
    180deg,
    rgba(254, 254, 254, 1) 0%,
    rgba(254, 254, 254, 0.9) 30%,
    rgba(236, 236, 236, 0.5) 100%
  );

  .container {
    @apply flex justify-between gap-1 bg-slate-400 relative;
  }

  .wrapp {
    @apply flex-wrap gap-10;
  }

  .title {
    @apply flex flex-col select-none ml-8 font-bold px-2 pb-3 lg:pb-0 overflow-hidden;
    width: 222px;

    @media ( min-width: 1024px) {
      height: 325px;
    }


    h2 {
      @apply text-zinc-900 hover:text-black text-4xl font-semibold mb-10;
    }
  }

  .swiper {
    @apply lg:-ml-6 lg:px-12 w-full select-none;

    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
      color: #555;

      &:hover {
        color: #eee;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
      }
    }

    .swiperSlide {
      @apply overflow-hidden;
      width: 222px;
    }
  }
}
