.swiper {
  width: 100%;
  height: 70vh;
  user-select: none;

  .slideCard {
    width: 100%;
    position: relative;

    .title {
      position: absolute;
      top: 50%;
      left: 10%;
      color: white;
      font-family: Nunito;
      font-size: 3rem;
      font-weight: 700;
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
    }
  }

  .containerImg {
    width: 100%;
    margin: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(70%);
    }
  }
}
