.swiper {
  @apply bg-gray-100 bg-gradient-to-b from-white to-gray-200 w-full select-none;
  height: 70vh;

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: white;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
  }

  .slideCard {
    @apply relative w-full;

    .title {
      @apply absolute text-5xl text-white;
      position: absolute;
      top: 50%;
      left: 10%;
      font-family: Nunito;
      filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
    }
  }

  .containerImg {
    @apply w-full m-auto;

    img {
      @apply w-full h-full object-cover;
      filter: grayscale(70%);
    }
  }
}
